
h1
{
    color: red;
}
h3
{
    color: orangered;
    font-style: italic;
}
.pra
{
    color: darkred;
}
.pra2 
{
    color: darkred;
    letter-spacing:6px;
    font-weight:bold;
    width: 85%;
            
    
}
.pra3
{
    color: darkgreen;
    width: 85%;
}
.pra4
{
    color: brown;
}
.span
{
    background-color: yellow;
}
.tex1
{
    text-decoration: line-through;
}